{% extends 'common/layout.html' %}

{% block body %}
<body id="page-changelog">
    {% include 'common/header.html' %}

    <div class="com-body">
        <div class="inner">
            {% for key, val in changelog %}
            <div class="box">
                <div class="title">
                    <span class="version">{{val.version}}</span>
                    <time class="date">&nbsp;( {{val.date}} )</time>
                </div>

                {% if val.description %}
                    <div class="description">
                        {% for key, val in val.description %}
                            {{val}}<br>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if val.feature %}
                    <div class="subtitle">[新特性]</div>
                    <ul>
                        {% for key, val in val.feature %}
                        <li>{{val}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if val.optimizing %}
                    <div class="subtitle">[功能优化]</div>
                    <ul>
                        {% for key, val in val.optimizing %}
                        <li>{{val}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if val.bugs %}
                    <div class="subtitle">[问题修复]</div>
                    <ul>
                        {% for key, val in val.bugs %}
                        <li>{{val}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'common/footer.html' %}
</body>
{% endblock %}