<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include 'common/header.html' %}
    <div id="changelog" class="page-content normal-text">
        <dl>
            <dt>
                <span>alpha v1.0.0</span>
                <time>2016.06.21</time>
            </dt>
            <dd>Particleground.js v1.0.0(alpha) 诞生啦！</dd>
            <dd>提供粒子无序运动，水纹波动，雪花飘落三种特效！</dd>
            <dd class="bugs">
                <header>Bug fixes</header>
                <div class="content">
                    <ul>
                        <li>Fixed memory build-up issues.</li>
                        <li>Fixed some minor bugs reported since 1.2.5.</li>
                    </ul>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    正式版v1.0.0
                </span>
                <time>
                    2017.06.23
                </time>
            </dt>
            <dd>
                Particleground.js v1.0.0(正式版) 诞生啦！
            </dd>
            <dd>
                增加流星，萤火，水滴特效！
            </dd>
            <dd>
                优化动画算法，增加动画类型。
            </dd>
        </dl>
    </div>
    {% include 'common/footer.html' %}
</body>
</html>