<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include 'common/header.html' %}
    <div id="changelog" class="page-content">
        <div class="inner">
            {% for key, val in changelog %}
            <div class="box">
                <div class="title">
                    <span class="version">{{val.version}}</span>
                    <time class="date">&nbsp;( {{val.date}} )</time>
                </div>
                <ul>
                    {% for key, val in val.description %}
                        <li>{{val}}</li>
                    {% endfor %}
                </ul>
                {% if val.bugs %}
                <div class="accordion">
                    <header class="header">修复的Bug</header>
                    <div class="content">
                        <ul>
                            {% for key, val in val.bugs %}
                            <li>{{val}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'common/footer.html' %}
</body>
</html>