<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="overflow-hidden">
        <section id="i-bg"></section>
        {% include 'common/header.html' %}
        <section id="i-profile" class="text-center-vertical text-center">
            <h1>Particleground.js</h1>
            <p>
                简单，高效，轻量级的纯js粒子运动特效库。
                <a class="i-readmore" href="/examples/preface">了解更多</a>
            </p>
            <div class="use text-center">
                <a href="/examples/quick-getting" class="btn btn-success">立即使用</a>
            </div>
        </section>
        <footer id="i-footer" class="pa gray-text">
            {% include 'common/footer-text.html' %}
        </footer>

        <script src="/js/jquery.js"></script>
        <script src="/js/site.js"></script>
        <script src="/js/pjs/particleground.js"></script>
        <script src="/js/pjs/particle.js"></script>
        <script>
            new Particleground.particle( '#i-bg', {
                eventElem: document
            });
        </script>
    </body>
</html>