{% extends 'common/layout.html' %}

{% block body %}
<body id="page-index" class="overflow-hidden">
    <section class="bg"></section>
    {% include 'common/header.html' %}

    <section class="profile text-center-vertical">
        <div class="title">Particleground.js</div>
        <div class="describe">
            一个简洁，高效，轻量级的canvas粒子运动特效插件库。
            <a class="readmore" href="/examples/preface">了解更多</a>
        </div>
        <div class="usage">
            <a class="btn btn-success pr" href="/examples/quick-getting">
                <span class="pa">立即使用</span>
            </a>
        </div>
    </section>

    {% include 'common/footer.html' %}
    <script>
        $(function(){
            var settings = {
                eventElem: document
            };
            if( window.isMobile ){
                settings.opacity = .6;
                settings.distance = 60;
                settings.range = 200;
                settings.maxR = 4;
                settings.num = .14;
                settings.maxSpeed = .6;
            }
            new Particleground.particle( '.bg', settings );
        });
    </script>
</body>
{% endblock %}