<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="overflow-hidden">
        <section id="i-bg"></section>
        {% include 'common/header.html' %}
        <section id="i-profile" class="text-center-vertical text-center">
            <h1>Particleground.js</h1>
            <p>仅仅是一个惊喜！简单，高效，轻量级 canvas粒子背景运动插件。</p>
        </section>
        <footer id="i-footer" class="pa gray-text">
            {% include 'common/footer-text.html' %}
        </footer>

        <script src="/js/jquery.js"></script>
        <script src="/js/site.js"></script>
        <script src="/js/pjs/particleground.js"></script>
        <script src="/js/pjs/particle.js"></script>
        <script>
            new Particleground.particle( '#i-bg' );
        </script>
    </body>
</html>