{% extends '../common/layout.html' %}
{% block main %}
<div class="main">
    <div class="main-content">
        <div class="preface">
            <p class="text-indent">Particleground.js是一款不依赖其他库的纯js粒子运动特效插件，或者说小小库。Particleground.js的理念，API设计方面，效仿jQuery以“write less, do more”为理念，希望插件使用起来非常的简单便捷，想实现某个效果，能立竿见影，分分钟就搞定，而不是花大把的学习时间和成本去理解、学习一堆的复杂配置或概念。应该说既要强大，易扩展，又要简单！这也是作者开发插件一贯以来的作风和理念。代码方面，
            <p class="text-indent">兼容性方面，因为canvas最低兼容ie9，所以插件最低兼容也ie9。因为最低兼容ie9，插件开发使用了多数es5的API，并做了向下兼容，即静默失败<img src="/img/2.png">。</>
            <p class="text-indent">Particleground.js的特效设计，多数来源于网络，只是因作者喜欢，所以把它们集合在了一起，并做细节或功能上的改进，在此，感谢原作者提供的创意。</p>
            <p class="text-indent">Particleground.js的代码封装，也参考了其他的开源项目，如extend方法是站在jQuery的肩膀上的，阅读源码的同学就应该清楚了，在此，感谢原作者提供的创意。</p>
            <p class="text-indent">Particleground.js整站并插件代码托管在<a href="https://github.com/Barrior/Particleground.js" target="_blank">Github</a>，用于交流，下载。问题也方便提到<a href="https://github.com/Barrior/Particleground.js/issues" target="_blank">issues</a>上，帮助Particleground.js改进，或者<a href="http://shang.qq.com/wpa/qunwpa?idkey=f548e3f94e0040a2ac5adfe4fec6915ef67c8c1b6ba5784ff6d5049c6135a759" title="172839150" target="_blank">QQ群</a>交流也好。</p>
            <p class="text-indent">Particleground.js</p>
        </div>
    </div>
</div>
{% endblock %}