{% extends '../common/layout.html' %}

{% block main %}
<div class="main">
    <div class="main-content">
        <div class="demo-wrap">
            <div id="demo"></div>
            <div id="open" class="btn btn-success">开启/Open</div>
            <div id="pause" class="btn btn-success">暂停/Pause</div>
            <div class="model">
                <h5 class="caption"><a id="备注" href="#备注">备注：</a></h5>
                <div class="content">
                    本案例参考QQ电话的UI设计，网易云音乐也有这样的效果，大家可以参考这些实际用例。
                </div>
            </div>
            <div class="model">
                <h5 class="caption"><a id="源代码" href="#源代码">查看源代码：</a></h5>
                <div class="content">
                    <pre>
<code class="prettyprint normal-text">
    new Particleground.wave( '#demo', {
    dis: 90,
    r: 100
    });
</code>
                    </pre>
                </div>
            </div>
            <div class="model">
                <h5 class="caption"><a id="参数" href="#参数">API参数配置</a></h5>
                <div class="content">
                    <table class="table table-bordered-inner table-striped">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>默认值</th>
                            <th>类型</th>
                            <th>描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>opacity</td>
                            <td>.6</td>
                            <td>number</td>
                            <td>全局透明度</td>
                        </tr>
                        <tr>
                            <td>color</td>
                            <td>[] 即随机色</td>
                            <td>array</td>
                            <td>设置颜色数组，粒子则按设置的颜色数组随机</td>
                        </tr>
                        <tr>
                            <td>speed</td>
                            <td>1</td>
                            <td>number</td>
                            <td>粒子运动速度</td>
                        </tr>
                        <tr>
                            <td>num</td>
                            <td>.12</td>
                            <td>number</td>
                            <td>粒子个数，默认为容器的0.12倍，传入[0, 1)显示容器相应倍数的值，或传入具体个数[1, +∞)</td>
                        </tr>
                        <tr>
                            <td>max</td>
                            <td>2.4</td>
                            <td>number</td>
                            <td>粒子最大半径</td>
                        </tr>
                        <tr>
                            <td>min</td>
                            <td>.6</td>
                            <td>number</td>
                            <td>粒子最小半径</td>
                        </tr>
                        <tr>
                            <td>dis</td>
                            <td>130</td>
                            <td>number</td>
                            <td>两个点之间相连接的最大距离</td>
                        </tr>
                        <tr>
                            <td>lineWidth</td>
                            <td>.2</td>
                            <td>number</td>
                            <td>连接线段的宽度</td>
                        </tr>
                        <tr>
                            <td>r</td>
                            <td>160</td>
                            <td>number</td>
                            <td>范围越大，连接的点越多</td>
                        </tr>
                        <tr>
                            <td>eventElem</td>
                            <td>null</td>
                            <td>null 或 element</td>
                            <td>触发移动事件的元素，null为canvas自身，或传入原生元素对象，如document</td>
                        </tr>
                        <tr>
                            <td>resize</td>
                            <td>true</td>
                            <td>boolean</td>
                            <td>自适应窗口尺寸变化</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/js/pjs/wave.js"></script>
<script>
    d = new Particleground.wave( '#demo',{
        num: 4,
        crest: [10, 9, 3, 5,6 ]
    }/*, {
        color: ['rgba(0, 190, 112, .9)', 'rgba(0, 190, 112, .6)', 'rgba(0, 190, 112, .3)'],
        num: 3,
        lineWidth: [1, .8, .6],
        //线条中点到元素顶部的距离，(0, 1]表示容器高度的倍数，(1, +∞)表示具体数值
        offsetTop: .75,
        //波峰数值，(0, 1]表示容器高度的倍数，(1, +∞)表示具体数值
        crest: [16, 12, 8],
        //波纹个数，即正弦周期个数
        rippleNum: 2,
        //线段的横向偏移值，(0, 1]表示波长的倍数，(1, +∞)表示具体数值
        offsetLeft: [0, 1, 2],
        //运动速度
        speed: .07
    }*/);
</script>
{% endblock %}