@import "ui";
@import "config";

//ui default
pre{
  background-color: $gray-bg;
}
blockquote{
  padding: 0 rem(20);
  font-size: rem(16);
}
code{
  background-color: $gray-bg;
  color: #BE0019;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.text-indent{
  text-indent: 2em;
}
.btn{
  text-decoration: none;
}
.btn-success{
  border-color: $green;
  background-color: $green;
  &:hover,
  &:focus{
    border-color: $green-hover;
    background-color: $green-hover;
  }
}

.form-control,
.table-bordered,
.table-bordered-inner>tbody>tr>td,
.table-bordered-inner>tbody>tr>th,
.table-bordered-inner>tfoot>tr>td,
.table-bordered-inner>tfoot>tr>th,
.table-bordered-inner>thead>tr>td,
.table-bordered-inner>thead>tr>th{
  border-color: $gray-border;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
  border-top-color: $gray-border;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background-color: $gray-bg;
}

$page-left-right: rem(120);
//com
body>.header{
  height: rem(94);
  padding: 0 $page-left-right;
  line-height: rem(94);
  border-bottom: 1px solid $gray-border;
  box-shadow: 0 rem(1) rem(2) 0 #E8E8E8;
  z-index: 9;
  a{
    text-decoration: none;
    color: $root-color;
    &:hover{
      color: $green;
    }
  }
  .logo{
    a{
      font-size: rem(26);
      font-weight: 100;
      color: $green;
    }
  }
  .nav{
    margin-right: rem(-8);
    a{
      padding: rem(6) rem(8);
      font-size: rem(14);
      transition: .4s ease-out;
      &.active{
        color: $green;
      }
    }
    .slideblock{
      width: rem(28);
      height: rem(2);
      background-color: $green;
      top: rem(62);
      &.animation{
        transition: .4s ease-out;
      }
    }
  }
}

//footer
.footer-text{
  a{
    color: $root-color;
    text-decoration: none;
    &:hover{
      color: $green;
      text-decoration: underline;
    }
    &:last-of-type{
      margin-left: rem(4);
    }
    img{
      width: rem(15);
      height: rem(15);
      vertical-align: sub;
    }
  }
}

.footer{
  padding: rem(20) $page-left-right;
  border-top: 1px solid $gray-border;
}
.page-footer{
  display: none;
}

//syntax highlight
pre.prettyprint{
  padding: 1em 2em !important;
  border: none !important;
  font-family: Menlo,Monaco,Consolas,"Microsoft YaHei";
  opacity: .9;
  .com{
    color: #999;
  }
}

//index.html
#i-bg{
  position: absolute;
  width: 100%;
  height: 100%;
}
#i-profile{
  top: calc( 50% - 10rem );
  color: $green;
  .i-readmore{
    display: inline-block;
    border-bottom: 1px solid $green;
    text-decoration: none;
    font-size: 65%;
    color: $green;
    transform: translateY(rem(-3));
  }
  > h1{
      font-size: 6.6rem;
      font-weight: 100;
  }
  > p{
      font-size: rem(21);
      margin-top: .8em;
      color: #008850;
  }
  .use{
    margin-top: rem(30);
    font-size: rem(24);
    .btn{
      width: rem(146);
      height: rem(62);
      background-color: transparent;
      color: $green;
      border-color: $green;
      position: relative;
      overflow: hidden;
      &:after{
        content: '';
        width: 100%;
        height: 0;
        background-color: $green;
        position: absolute;
        z-index: 2;
        left: 0;
        top: rem(30);
        transition: height .4s ease-out;
        transform: translateY(-50%) rotate(45deg);
      }
      .pa{
        width: 100%;
        height: 100%;
        line-height: rem(62);
        z-index: 3;
      }
      &:hover{
        color: #fff;
        &:after{
          height: rem(156);
        }
      }
    }
  }
}
#i-footer.pa{
  left: auto;
  right: 2rem;
  top: auto;
  bottom: 2rem;
}

//examples.html
.eg-container{
  padding: rem(40) $page-left-right;
  >.menu{
    width: rem(240);
    h6,
    h5{
      margin-bottom: rem(16);
    }
    h6{
      font-weight: 400;
    }
    h5{
      a{
        &:hover{
          color: $green;
        }
        &:not(.active){
          padding-left: 0;
          border-left: none;
        }
      }
    }
    h5 a.active,
    li.active a,
    li a:hover{
      background-color: #F7F7F7;
      color: $green;
      border-color: $green;
    }
    li{
      margin-bottom: rem(10);
    }
    h5 a,
    li a{
      display: block;
      height: rem(30);
      padding-left: rem(20);
      line-height: rem(30);
      border-left: rem(5) solid transparent;
      text-decoration: none;
      color: $root-color;
    }
    .essential{
      padding: rem(4) rem(6) rem(6);
      line-height: 1;
      background-color: $green;
      color: #fff;
      font-size: rem(12);
      left: rem(184);
      top: rem(-6);
      border-radius: rem(10);
      transform: scale(.9);
      &:before{
        content: '';
        width: 0;
        height: 0;
        border: rem(5) solid transparent;
        border-left-color: $green;
        border-bottom-color: $green;
        position: absolute;
        left: rem(-2);
        top: rem(8);
        transform: rotate(23deg);
      }
    }
  }
  >.main{
    padding-left: rem(300);
    a{
      color: $root-color;
      text-decoration: none;
      border-bottom: 1px dotted #777;
      &:hover{
        color: $green;
      }
    }
    .caption{
      padding-bottom: rem(6);
      font-size: rem(16);
      position: relative;
      &:hover{
        &:before{
          display: block;
        }
      }
      &:before{
        display: none;
        content: "#";
        color: $green;
        position: absolute;
        right: 100.8%;
      }
      a{
        color: $root-color;
        border-bottom: none;
      }
    }
    >.main-content{
      .model{
        margin-top: rem(30);
        .content{
          pre{
            margin: 0;
          }
        }
      }
      #demo{
        height: rem(440);
        border: 1px solid $gray-border;
        &.snow{
          height: rem(550);
          background: url("../img/merry-christmas.jpg") 0 0 no-repeat;
          background-size: 100% 100%;
        }
      }
      .btn{
        margin: rem(20) rem(10) rem(20) 0;
      }
      .table{
        font-size: rem(13);
      }
      .table>tbody>tr>td,
      .table>tbody>tr>th,
      .table>tfoot>tr>td,
      .table>tfoot>tr>th,
      .table>thead>tr>td,
      .table>thead>tr>th{
        padding: .8em 1.3em;
      }
      :not(pre) > code[class*="language-"],
      pre[class*="language-"]{
        background-color: $gray-bg;
      }
      code[class*="language-"],
      pre[class*="language-"]{
        text-shadow: none;
        font-family: 'Roboto Mono', Monaco, courier, monospace;
      }
      .token.selector,
      .token.attr-name,
      .token.string,
      .token.char,
      .token.builtin,
      .token.inserted{
        color: $green;
      }
      .token.function,
      .token.property,
      .token.tag,
      .token.boolean,
      .token.number,
      .token.constant,
      .token.symbol,
      .token.deleted{
        color: #BE0000;
      }
      .token.atrule,
      .token.attr-value,
      .token.keyword{
        color: #0065BE;
      }
      .token.operator,
      .token.entity,
      .token.url,
      .language-css .token.string,
      .style .token.string{
        color: #BE8500;
        background-color: transparent;
      }
      .token.punctuation{
        color: $root-color;
      }
      .token.comment,
      .token.prolog,
      .token.doctype,
      .token.cdata{
        color: #999;
      }
      pre[class*="language-"]::selection,
      pre[class*="language-"] ::selection,
      code[class*="language-"]::selection,
      code[class*="language-"] ::selection{
        background: #E8E8E8;
      }
    }
  }
  .quick-getting,
  .preface{
    line-height: 2;
    font-size: rem(15);
    .caption,
    h5{
      font-size: rem(18);
      font-weight: 900;
    }
  }
  .preface{
    h5{
      margin-bottom: rem(10);
      line-height: 1;
    }
    >*{
      margin-bottom: rem(30);
    }
  }
  .quick-getting{
    blockquote{
      margin-top: rem(10);
    }
    .btn{
      line-height: 1;
      font-size: rem(12);
    }
    >*:not(:last-child){
      margin-bottom: rem(30);
    }
  }
}
.api{
  ul{
    padding-left: rem(16);
    margin-bottom: 0;
  }
}

#changelog,
#download{
  padding: rem(40) $page-left-right;
}

#changelog{
  text-align: center;
  >.inner{
    display: inline-block;
    max-width: rem(820);
    padding-left: rem(20);
    border-left: rem(3) solid $green;
    text-align: left;
    font-size: rem(14);
  }
  .box{
    &:not(:last-child){
      margin-bottom: rem(30);
    }
    &:first-child{
      .title{
        &:after{
          display: block;
          content: "";
          width: rem(13);
          height: rem(13);
          background-color: #fff;
          position: absolute;
          left: rem(-28);
          top: 0;
        }
      }
    }
    ul{
      margin: rem(10) 0;
      padding-right: rem(10);
    }
    li>ul{
      margin-top: 0;
    }
    .title{
      font-size: rem(16);
      font-weight: 900;
      color: $green;
      position: relative;
      &:before{
        display: block;
        content: "";
        width: rem(13);
        height: rem(13);
        background-color: $green;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        left: rem(-28);
        top: rem(6);
      }
    }
    >.accordion{
      border: 1px solid $gray-border;
      >.header{
        padding: rem(6) rem(12);
        background-color: $gray-bg;
        cursor: pointer;
      }
      >.content{
        display: none;
        border-top: 1px solid $gray-border;
      }
    }
  }
}