{% extends 'layout.html' %}

{% block body %}
<body id="page-example">
    {% include 'header.html' %}

    <section class="com-body cf">
        <aside class="menu fl pr">
            {% for key, val in preface %}
            <h5 class="pr">
                <a {% if key == pageName %} class="active" {% endif %}
                   href="/examples/{{key}}">{{val.title}}</a>
            </h5>
            {% endfor %}
            <h5>实例及API</h5>
            <ul class="list-unstyled">
                {% for key, val in list %}
                <li {% if key == pageName %} class="active" {% endif %}>
                    <a href="/examples/{{key}}">{{val.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <div class="main">
            {% block main %}{% endblock %}
        </div>
    </section>

    {% include 'footer.html' %}
    {% block script %}{% endblock %}
</body>
{% endblock %}