{% extends 'layout.html' %}

{% block body %}
<body id="page-example">
    {% include 'header.html' %}

    <section class="com-body cf">
        <aside class="menu fl pr">
            {% for key, val in preface %}
            <h5 class="pr">
                <a {% if key == pageName %} class="active" {% endif %}
                   href="/examples/{{key}}">{{val.title}}</a>
            </h5>
            {% endfor %}
            <h5>实例及API</h5>
            <ul class="list-unstyled">
                {% for key, val in list %}
                <li {% if key == pageName %} class="active" {% endif %}>
                    <a href="/examples/{{key}}">{{val.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <div class="main">
            {% block main %}{% endblock %}

            {% if pageName !=== 'preface' %}
            <div class="comments">
                <!-- 多说评论框 start -->
                <div class="ds-thread"
                     data-thread-key="{{pageName}}"
                     data-title="{{title}}"
                     data-url="http://particleground.duapp.com/examples/{{pageName}}">
                </div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"particleground"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </div>
            {% endif %}
        </div>
    </section>

    {% include 'footer.html' %}
    {% block script %}{% endblock %}
</body>
{% endblock %}