<footer class="footer text-center">
    {% include 'footer-text.html' %}
</footer>

<script src="/js/jquery.js"></script>
<script src="/js/xui.js"></script>
<script src="/js/site.js"></script>
<script src="/js/prism.js"></script>
<script src="/js/pjs/particleground.js"></script>
<script>
    Prism.highlightElement($('.language-javascript')[0], 'javascript');
    var d;
    $('#open').click(function(){
        d.open();
    });
    $('#pause').click(function(){
        d.pause();
    });
</script>