<header class="com-header pr">
    <div class="mobile-menu">
        <i class="icon icon-menu"></i>
        菜单
    </div>
    <div class="logo">
        <a href="/">Particleground.js</a>
    </div>
    <nav class="nav pr">
        <a {% if nav === 0 %} class="active" {% endif %}
           href="/">
            首页
        </a>
        <a {% if nav === 1 %} class="active" {% endif %}
           href="/examples/particle">
            实例及API
        </a>
        <a {% if nav === 2 %} class="active" {% endif %}
           href="/download">
            下载
        </a>
        <a href="https://github.com/Barrior/Particleground.js"
           target="_blank">
            Github
        </a>
        <a href="http://shang.qq.com/wpa/qunwpa?idkey=f548e3f94e0040a2ac5adfe4fec6915ef67c8c1b6ba5784ff6d5049c6135a759"
           title="172839150" target="_blank">
            QQ群
        </a>
        <a {% if nav === 3 %} class="active" {% endif %}
           href="/changelog" title="路漫漫兮吾将上下而求索">
            更新日志
        </a>
        <div class="slideblock pa hidden"></div>

        <aside class="example-menu">
            <div class="divider"></div>
            {% for key, val in menuData %}
                <a {% if key == pageName %} class="active" {% endif %}
                   href="/examples/{{key}}">
                    {{val.title}}
                </a>
            {% endfor %}
        </aside>
    </nav>
</header>