<header class="com-header pr overflow-hidden">
    <aside class="logo fl">
        <a href="/">Particleground.js</a>
    </aside>
    <nav class="nav pr fr">
        <a {% if nav === 0 %} class="active" {% endif %}
           href="/">
            首页
        </a>
        <a {% if nav === 1 %} class="active" {% endif %}
           href="/examples/particle">
            实例及API
        </a>
        <a {% if nav === 2 %} class="active" {% endif %}
           href="/download">
            下载
        </a>
        <a href="https://github.com/Barrior/Particleground.js"
           target="_blank">
            Github
        </a>
        <a href="http://shang.qq.com/wpa/qunwpa?idkey=f548e3f94e0040a2ac5adfe4fec6915ef67c8c1b6ba5784ff6d5049c6135a759"
           title="172839150" target="_blank">
            QQ群
        </a>
        <a {% if nav === 3 %} class="active" {% endif %}
           href="/changelog" title="吾将上下而求索">
            路漫漫兮
        </a>
        <div class="slideblock pa hidden"></div>
    </nav>
</header>