<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {% include 'header.html' %}

        <section class="eg-container cf page-content">
            <aside class="menu fl pr">
                {% for key, val in preface %}
                    <h5 class="pr">
                        <a {% if key == pageName %} class="active" {% endif %}
                           href="/examples/{{key}}">{{val.title}}</a>
                    </h5>
                {% endfor %}
                <h5>实例及API</h5>
                <ul class="list-unstyled">
                    {% for key, val in list %}
                        <li {% if key == pageName %} class="active" {% endif %}>
                            <a href="/examples/{{key}}">{{val.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            {% block main %}{% endblock %}
        </section>

        {% include 'footer.html' %}
        {% block script %}{% endblock %}
    </body>
</html>
