<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/xui.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/prism.css">
    </head>
    <body>
        {% include 'header.html' %}

        <section class="eg-container cf">
            <aside class="menu fl pr">
                <h5>
                    <a href="preface.html">前言</a>
                </h5>
                <h5>
                    <a href="quick-getting.html">5分钟上手Particleground.js</a>
                </h5>
                <h5>实例及API</h5>
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="particle.html">粒子运动</a>
                    </li>
                    <li>
                        <a href="wave.html">波浪运动</a>
                    </li>
                    <li>
                        <a href="snow.html">雪花飘落</a>
                    </li>
                </ul>
            </aside>
            {% block main %}{% endblock %}
        </section>

        {% include 'footer.html' %}
    </body>
</html>
