@function rem( $num ){
    @return ( $num / 12 ) + rem;
}

$root-color: #333;
$green: #00be70;
$green-hover: #01A260;
$gray: #ccc;
$gray-bg: #F7F7F7;
$gray-border: #EAEAEA;
$bezier: cubic-bezier(.175,.885,.32,1);
