// ui default
pre {
    background-color: $gray-bg;
}

blockquote {
    padding: 0 rem(20);
    font-size: rem(16);
    a{
        text-decoration: none;
        color: $root-color;
    }
}

code {
    background-color: $gray-bg;
    color: #BE0019;
    font-family: Menlo,Monaco,Consolas,"Microsoft YaHei";
}

.text-indent {
    text-indent: 2em;
}

.btn {
    text-decoration: none;
}

.btn-default{
    border-color: $gray-border;
    &:hover{
        background-color: $gray-border;
    }
}

.btn-success {
    border-color: $green;
    background-color: $green;
    &:hover,
    &:focus {
        border-color: $green-hover;
        background-color: $green-hover;
    }
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $gray-bg;
}

.table {
    font-size: rem(13);
    td,
    th{
        padding: rem(10) rem(14) !important;
        border-color: $gray-border !important;
    }
}

.margin-top-10{
    margin-top: rem(10) !important;
}
.margin-bottom-10{
    margin-bottom: rem(10) !important;
}
.margin-top-15{
    margin-top: rem(15) !important;
}
.margin-bottom-15{
    margin-bottom: rem(15) !important;
}

.api-del{
    background-color: $gray-border !important;
}

// comments by duoshuo
.comments{
    margin-top: rem(100);
    padding-top: rem(20);
    border-top: rem(2) dashed $gray-border;
}

// syntax highlight
pre {
    margin: 0;
    padding: rem(10) rem(20) !important;
    border: none !important;
    font-family: Menlo,Monaco,Consolas,"Microsoft YaHei";
    opacity: .9;
    .com {
        color: #999;
    }
}

$page-left-right: rem(120);

// common header
.com-header {
    height: rem(94);
    padding: 0 $page-left-right;
    line-height: rem(94);
    border-bottom: 1px solid $gray-border;
    box-shadow: 0 rem(1) rem(2) 0 #E8E8E8;
    position: relative;
    z-index: 9;
    a {
        text-decoration: none;
        color: $root-color;
        &:hover {
            color: $green;
        }
    }
    .mobile-menu{
        float: left;
        display: none;
    }
    .logo {
        float: left;
        height: rem(94);
        a {
            font-size: rem(26);
            font-weight: 100;
            color: $green;
        }
    }
    .nav {
        float: right;
        margin-right: rem(-8);
        a {
            padding: rem(6) rem(8);
            font-size: rem(14);
            transition: .4s ease-out;
            &.active {
                color: $green;
            }
        }
        .slideblock {
            width: rem(28);
            height: rem(2);
            background-color: $green;
            top: rem(62);
            &.animation {
                transition: .4s ease-out;
            }
        }
        .divider{
            height: 1px;
            margin: 0 rem(20);
            background-color: #dedede;
        }
        >.example-menu{
            display: none;
            a{
                &:nth-of-type(2){
                    position: relative;
                    .essential{
                        left: auto;
                        right: rem(10);
                    }
                }
            }
        }
    }
}

// common body
.com-body{
    padding: rem(40) $page-left-right;
}

// common footer
.com-footer {
    display: none;
    padding: rem(20) 0;
    border-top: 1px solid $gray-border;
    text-align: center;
    > .text {
        > div {
            display: inline-block;
        }
    }
    a {
        color: $root-color;
        text-decoration: none;
        &:hover {
            color: $green;
            text-decoration: underline;
        }
    }
}

// 必读图标
.essential {
    padding: rem(4) rem(6) rem(6);
    line-height: 1;
    background-color: $green;
    color: #fff;
    font-size: rem(12);
    position: absolute;
    left: rem(184);
    top: rem(-6);
    border-radius: rem(10);
    transform: scale(.9);
    &:before {
        content: '';
        width: 0;
        height: 0;
        border: rem(5) solid transparent;
        border-left-color: $green;
        border-bottom-color: $green;
        position: absolute;
        left: rem(-2);
        top: rem(8);
        transform: rotate(23deg);
    }
}

// instance
.instance{
    height: rem(440);
    position: relative;
    margin-top: rem(30);
    border: 1px solid $gray-border;
    &:hover{
        >.ctrl{
            display: block;
        }
    }
    &.snow{
        height: rem(550);
        background: url("../img/merry-christmas.jpg") 0 0 no-repeat;
        background-size: 100% 100%;
    }
    >.demo{
        height: 100%;
    }
    >.ctrl{
        display: none;
        position: absolute;
        z-index: 2;
        left: rem(10);
        top: rem(10);
        .btn{
            &:not(:last-child){
                margin-right: rem(8);
            }
        }
    }
}

.instance-box{
    margin-top: rem(30);
    >.caption{
        padding-bottom: rem(10);
    }
    >.instance{
        margin-top: 0;
    }
}

// module. like for examples page
.caption{
    font-size: rem(16);
    position: relative;
    &:hover {
        &:before {
            display: block;
        }
    }
    &:before {
        display: none;
        content: "#";
        color: $green;
        position: absolute;
        right: 100.8%;
    }
    a {
        color: $root-color;
        text-decoration: none;
    }
}
.module {
    margin-top: rem(30);
    &.module-api{
        ul {
            padding-left: rem(16);
            margin-bottom: 0;
        }
    }
    >.caption{
        padding-bottom: rem(10);
    }
}

// dotted-line
.dotted-line{
    color: $root-color;
    text-decoration: none;
    border-bottom: 1px dotted #777;
    &:hover {
        color: $green;
        border-color: $gray;
    }
}

// first instance crtl
#first-instance-ctrl{
    margin: rem(20) 0;
    .btn{
        &:not(:last-child){
            margin-right: rem(10);
        }
    }
}

// why-this-tip
.why-this-tip{
    &:hover{
        .pa{
            display: block;
        }
    }
    .pa{
        display: none;
        padding: rem(10);
        border: 1px solid $gray-border;
        border-radius: rem(4);
        box-shadow: rem(4) rem(4) rem(10) 0 $gray-border;
        background-color: #fff;
        text-align: justify;
        font-size: rem(12);
        top: 110%;
    }
}

// index page
#page-index {
    >.bg{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    >.profile{
        width: 100%;
        text-align: center;
        color: $green;
        position: absolute;
        top: 48%;
        > .title {
            font-size: 6.6rem;
            font-weight: 100;
        }
        > .describe {
            font-size: rem(21);
            margin-top: .8em;
            color: #008850;
            > .readmore {
                display: inline-block;
                border-bottom: 1px solid $green;
                text-decoration: none;
                font-size: 65%;
                color: $green;
                transform: translateY(rem(-3));
            }
        }
        >.usage {
            margin-top: rem(30);
            font-size: rem(24);
            .btn {
                width: rem(146);
                height: rem(62);
                background-color: transparent;
                color: $green;
                border-color: $green;
                position: relative;
                overflow: hidden;
                &:after {
                    content: '';
                    width: 100%;
                    height: 0;
                    background-color: $green;
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: rem(30);
                    transition: height .4s ease-out;
                    transform: translateY(-50%) rotate(45deg);
                }
                .pa {
                    width: 100%;
                    height: 100%;
                    line-height: rem(62);
                    z-index: 3;
                }
                &:hover {
                    color: #fff;
                    &:after {
                        height: rem(156);
                    }
                }
            }
        }
    }
    .com-footer{
        display: block;
        width: 100%;
        padding-right: $page-left-right;
        position: absolute;
        z-index: 8;
        left: 0;
        bottom: 0;
        text-align: right;
    }
}

// example pages
#page-example {
    >.com-body{
        > .menu {
            width: rem(240);
            &.fixed{
                padding: rem(20) 0;
                position: fixed;
                top: 0;
                bottom: 0;
                overflow: auto;
            }
            h6,
            h5 {
                margin-bottom: rem(16);
            }
            h6 {
                font-weight: 400;
            }
            h5 {
                a {
                    &:hover {
                        color: $green;
                    }
                    &:not(.active) {
                        padding-left: 0;
                        border-left: none;
                    }
                }
            }
            h5 a.active,
            li.active a,
            li a:hover {
                background-color: #F7F7F7;
                color: $green;
                border-color: $green;
            }
            li {
                margin-bottom: rem(10);
            }
            h5 a,
            li a {
                display: block;
                height: rem(30);
                padding-left: rem(20);
                line-height: rem(30);
                border-left: rem(5) solid transparent;
                text-decoration: none;
                color: $root-color;
            }
        }
        > .main {
            padding-left: rem(300);
            > .main-content {
                .instance{
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
        .quick-getting,
        .preface {
            line-height: 2;
            font-size: rem(15);
            >.module{
                &:first-child{
                    margin-top: 0;
                }
                >.caption{
                    font-size: rem(18);
                    font-weight: 900;
                }
                blockquote{
                    &:not(:first-child){
                        margin-top: rem(20);
                    }
                }
            }
        }
        .quick-getting {
            .instance{
                max-width: rem(400);
                height: rem(250);
            }
            .btn {
                line-height: 1;
                font-size: rem(12);
            }
        }
    }
}

#page-download{
    >.com-body{
        h3{
            font-size: rem(24);
            font-weight: 100;
        }
    }
}

#page-changelog {
    >.com-body{
        text-align: center;
        .inner {
            display: inline-block;
            max-width: rem(820);
            text-align: left;
            font-size: rem(14);
        }
        .box {
            margin-bottom: rem(50);
            >.title {
                font-size: rem(20);
                font-weight: 900;
                color: $green;
                position: relative;
            }
            >.description{
                margin: rem(10) 0;
            }
            >.subtitle{
                margin: rem(30) 0 rem(10);
            }
            >ul {
                padding: 0 0 0 rem(24);
            }
        }
    }
}

// special style of the examples
#page-example{
    .wave{
        .instance-loading{
            text-align: center;
            >.caption{
                text-align: left;
            }
            >.instance{
                display: inline-block;
                width: rem(280);
                height: rem(280) !important;
                border-radius: 50%;
                >.demo{
                    border-radius: 50%;
                    overflow: hidden;
                    canvas{
                        border-radius: 50%;
                    }
                }
                >.instance-loading-process{
                    width: 100%;
                    font-size: rem(26);
                    font-family: Arial;
                    text-align: center;
                    position: absolute;
                }
                >.ctrl{
                    >.btn{
                        &:last-child{
                            margin-top: rem(10);
                        }
                    }
                }
            }
        }
    }
}