button, hr {
    overflow: visible
}

img, legend {
    border: 0
}

input[type=checkbox], input[type=radio], legend {
    padding: 0
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.pr, sub, sup {
    position: relative
}

body, html {
    width: 100%;
    height: 100%;
    font: 10px/1.5 "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";
    color: #333;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

@media all and (min-width: 1025px) {
    body, html {
        font-size: 11px
    }
}

@media all and (min-width: 1281px) {
    body, html {
        font-size: 12px
    }
}

@media all and (min-width: 1367px) {
    body, html {
        font-size: 13px
    }
}

@media all and (min-width: 1441px) {
    body, html {
        font-size: 14px
    }
}

@media all and (min-width: 1601px) {
    body, html {
        font-size: 16px
    }
}

*, :after, :before {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

b, strong {
    font-weight: inherit;
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em;
    bottom: -.25em
}

img {
    vertical-align: top
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1rem 3.33333rem
}

hr {
    height: 0
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0
}

.badge, .bold, dt, optgroup {
    font-weight: 700
}

.overflow-hidden, .progress, .text-overflow {
    overflow: hidden
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 .16667rem;
    padding: .35em .625em .75em
}

.disabled, [disabled] {
    cursor: not-allowed !important;
    color: #777 !important
}

.btn, .tabs .tab-nav li, label {
    cursor: pointer
}

em, i {
    font-style: normal
}

a, button, input, select {
    outline: 0
}

input::-ms-clear {
    display: none
}

svg text tspan::-moz-selection, svg text::-moz-selection {
    background: 0 0
}

svg text tspan::selection, svg text::selection {
    background: 0 0
}

dir, dl, menu, ol, p, ul {
    margin: 0 0 .83333rem
}

dt {
    margin: 2em 0 1em
}

abbr[title] {
    border-bottom: 1px dotted #777
}

blockquote {
    padding: .83333rem 1.66667rem;
    margin: 0 0 1.66667rem;
    font-size: 1.45833rem;
    border-left: .41667rem solid #eee
}

code, kbd {
    font-size: 90%
}

code {
    padding: .16667rem .33333rem;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: .33333rem
}

kbd {
    padding: .16667rem;
    color: #fff;
    background-color: #333;
    border-radius: .25rem;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}

.form-control, .table-bordered, .table-bordered-inner > tbody > tr > td, .table-bordered-inner > tbody > tr > th, .table-bordered-inner > tfoot > tr > td, .table-bordered-inner > tfoot > tr > th, .table-bordered-inner > thead > tr > td, .table-bordered-inner > thead > tr > th {
    border: 1px solid #ccc
}

h1 {
    font-size: 3rem
}

h2 {
    font-size: 2.5rem
}

h3 {
    font-size: 2rem
}

h4 {
    font-size: 1.5rem
}

h5 {
    font-size: 1.16667rem
}

.tiny-text, h6 {
    font-size: 1rem
}

.mini-text {
    font-size: 1.08333rem
}

.normal-text {
    font-size: 1.16667rem
}

.big-text {
    font-size: 1.33333rem
}

.bigger-text {
    font-size: 1.5rem
}

.large-text {
    font-size: 1.83333rem
}

.huge-text {
    font-size: 2.16667rem
}

.max-text {
    font-size: 2.66667rem
}

.white-text {
    color: #fff !important
}

.lightgray-text {
    color: #ccc !important
}

.gray-text {
    color: #777 !important
}

.black-text {
    color: #000 !important
}

.red-text {
    color: #c00 !important
}

.green-text {
    color: #0e7e00 !important
}

.blue-text {
    color: #173070 !important
}

.lightgray-bgcolor {
    background-color: #ececec !important
}

.gray-bgcolor {
    background-color: #a0a0a0 !important
}

.black-bgcolor {
    background-color: #000 !important
}

.red-bgcolor {
    background-color: #c00 !important
}

.green-bgcolor {
    background-color: #0e7e00 !important
}

.blue-bgcolor {
    background-color: #173070 !important
}

.pa {
    position: absolute;
    left: 0;
    top: 0
}

.cf:after {
    content: "";
    display: block;
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-center-vertical {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

caption, th {
    text-align: left
}

.text-lowercase {
    text-transform: lowercase
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap
}

.word-break-all {
    word-break: break-all
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.show {
    display: block !important
}

.hidden {
    display: none !important
}

.invisible {
    visibility: hidden
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

caption {
    padding: .66667rem 0;
    color: #777
}

.table {
    width: 100%;
    max-width: 100%
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: .66667rem;
    vertical-align: top;
    border-top: 1px solid #ccc
}

.table > thead > tr > th {
    vertical-align: bottom
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ececec
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5
}

.form-group {
    margin-bottom: 1.33333rem
}

.form-control {
    display: block;
    width: 100%;
    height: 2.83333rem;
    padding: .5rem 1rem;
    font-size: 1.16667rem;
    color: #555;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.checkbox-group input[type=checkbox], .radio-group input[type=radio] {
    display: none
}

.form-control:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control[disabled] {
    background-color: #ececec
}

.label-checkbox, .label-radio {
    margin-left: .83333rem;
    padding-left: 1.4em;
    position: relative
}

.label-checkbox:first-of-type, .label-radio:first-of-type {
    margin-left: 0
}

.label-checkbox input, .label-radio input {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    left: 0;
    top: .7em;
    cursor: pointer
}

.checkbox-group input[type=checkbox] + label {
    margin-left: .83333rem;
    padding-left: 1.4em;
    position: relative
}

.checkbox-group input[type=checkbox] + label:first-of-type {
    margin-left: 0
}

.checkbox-group input[type=checkbox] + label.disabled:before, .checkbox-group input[type=checkbox] + label[disabled]:before {
    border-color: #C5C5C5 !important;
    box-shadow: inset 0 0 0 .5em #C5C5C5;
    border-radius: 1px
}

.checkbox-group input[type=checkbox] + label.disabled:after, .checkbox-group input[type=checkbox] + label[disabled]:after {
    content: "\2713"
}

.checkbox-group input[type=checkbox] + label:hover:before {
    border-color: #0e90d2
}

.checkbox-group input[type=checkbox] + label:after, .checkbox-group input[type=checkbox] + label:before {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    top: .7em
}

.checkbox-group input[type=checkbox] + label:before {
    content: '';
    border: 1px solid #a0a0a0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.checkbox-group input[type=checkbox] + label:after {
    color: #fff;
    line-height: 1;
    text-align: center;
    -webkit-transform: translate(0, -50%) scale(.8);
    -moz-transform: translate(0, -50%) scale(.8);
    -ms-transform: translate(0, -50%) scale(.8);
    transform: translate(0, -50%) scale(.8)
}

.checkbox-group input[type=checkbox]:checked + label:before {
    border-color: #0e90d2;
    box-shadow: inset 0 0 0 .5em #0e90d2;
    border-radius: 1px
}

.checkbox-group input[type=checkbox]:checked + label:after {
    content: "\2713"
}

.radio-group input[type=radio] + label {
    margin-left: .83333rem;
    padding-left: 1.4em;
    position: relative
}

.radio-group input[type=radio] + label:first-of-type {
    margin-left: 0
}

.radio-group input[type=radio] + label.disabled:before, .radio-group input[type=radio] + label[disabled]:before {
    border-color: #C5C5C5 !important;
    background-color: #C5C5C5
}

.radio-group input[type=radio] + label.disabled:after, .radio-group input[type=radio] + label[disabled]:after, .radio-group input[type=radio]:checked + label:after {
    background-color: #fff
}

.radio-group input[type=radio] + label:hover:before {
    border-color: #0e90d2
}

.radio-group input[type=radio] + label:after, .radio-group input[type=radio] + label:before {
    content: '';
    position: absolute;
    top: .7em;
    border-radius: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.radio-group input[type=radio] + label:before {
    width: 1em;
    height: 1em;
    left: 0;
    border: 1px solid #a0a0a0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.radio-group input[type=radio] + label:after {
    width: .5em;
    height: .5em;
    left: .5em;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.radio-group input[type=radio]:checked + label:before {
    border-color: #0e90d2;
    box-shadow: inset 0 0 0 .5em #0e90d2
}

.btn {
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: .16667rem;
    -webkit-transition: background-color .3s ease-out, border-color .3s ease-out;
    -moz-transition: background-color .3s ease-out, border-color .3s ease-out;
    transition: background-color .3s ease-out, border-color .3s ease-out
}

.btn-primary {
    color: #fff;
    border-color: #0e90d2;
    background-color: #0e90d2
}

.btn-primary:hover {
    border-color: #0c79b1;
    background-color: #0c79b1
}

.btn-primary.active, .btn-primary:active {
    border-color: #0a628f;
    background-color: #0a628f
}

.btn-secondary {
    color: #fff;
    border-color: #3bb4f2;
    background-color: #3bb4f2
}

.btn-secondary:hover {
    border-color: #19a7f0;
    background-color: #19a7f0
}

.btn-secondary.active, .btn-secondary:active {
    border-color: #0e93d7;
    background-color: #0e93d7
}

.btn-success {
    color: #fff;
    border-color: #5eb95e;
    background-color: #5eb95e
}

.btn-success:hover {
    border-color: #4aaa4a;
    background-color: #4aaa4a
}

.btn-success.active, .btn-success:active {
    border-color: #3f913f;
    background-color: #3f913f
}

.btn-danger {
    color: #fff;
    border-color: #dd514c;
    background-color: #dd514c
}

.btn-danger:hover {
    border-color: #d7342e;
    background-color: #d7342e
}

.btn-danger.active, .btn-danger:active {
    border-color: #be2924;
    background-color: #be2924
}

.btn-default {
    border-color: #ccc;
    background-color: #fff
}

.btn-default:hover {
    background-color: #e6e6e6
}

.btn-default.active, .btn-default:active {
    border-color: #999;
    background-color: #d4d4d4;
    position: relative;
    top: 2
}

.btn-sm {
    padding: .2em .6em
}

.btn-lg {
    padding: .8em 1.7em
}

.btn-block {
    display: block;
    width: 100%
}

.btn-group {
    display: inline-block
}

.btn-group > .btn {
    float: left;
    border-radius: 0
}

.btn-group > .btn:not(:first-child) {
    margin-left: -1px
}

.btn-group > .btn:first-child {
    border-top-left-radius: .16667rem;
    border-bottom-left-radius: .16667rem
}

.btn-group > .btn.dropdown-toggle, .btn-group > .btn:last-child {
    border-top-right-radius: .16667rem;
    border-bottom-right-radius: .16667rem
}

.btn-group:after {
    content: "";
    display: block;
    clear: both
}

.btn-group-vertical {
    display: inline-block
}

.btn-group-vertical > .btn {
    display: block;
    width: 100%;
    border-radius: 0
}

.btn-group-vertical > .btn:not(:first-child) {
    margin-top: -1px
}

.btn-group-vertical > .btn:first-child {
    border-top-left-radius: .16667rem;
    border-top-right-radius: .16667rem
}

.btn-group-vertical > .btn:last-child {
    border-bottom-left-radius: .16667rem;
    border-bottom-right-radius: .16667rem
}